.features {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--ifm-color-primary);
}

.codepen {
  flex: auto;
  padding: 2rem;
  height: 40rem;
  background-color: var(--ifm-color-primary);
}

