/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #941e42;
  --ifm-color-primary-dark: #851b3b;
  --ifm-color-primary-darker: #7e1938;
  --ifm-color-primary-darkest: #68152e;
  --ifm-color-primary-light: #a32149;
  --ifm-color-primary-lighter: #aa224c;
  --ifm-color-primary-lightest: #c02756;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff85af;
  --ifm-color-primary-dark: #ff5e96;
  --ifm-color-primary-darker: #ff4b89;
  --ifm-color-primary-darkest: #ff1163;
  --ifm-color-primary-light: #ffacc8;
  --ifm-color-primary-lighter: #ffbfd5;
  --ifm-color-primary-lightest: #fff9fb;
}

video {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin-top: 2em;
  margin-bottom: 2em;
}